body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  height: 700px;
}

.caption{
  margin-top: 350px;
}

#texto-1{
  margin-top: 30px;
  padding: 30px;
}

#carrosel{
  margin-top: 30px;
  padding: 30px;
}

#texto-2{
  margin-top: 30px;
  padding: 30px;
}
